body{
    background-color:lightgray;
    display: flex ;
    flex-direction: column;
    min-height: 100vh;
}

.carousel-inner {
    height: 300px;
}

.carousel-inner img {
    height: 300px;
}

.parrafo{
    font-size: 25px;
    font-weight: bold;
    color: red;
}


.formulario{
    margin-bottom: 30px;
}

.form-control:hover{
    background-color: lightgray;

}

footer{
    margin-top:auto;
}
